[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/kasm-user/Desktop/thunderbird.desktop]
row=0
col=2

[/home/kasm-user/Desktop/telegram.desktop]
row=1
col=2

[/home/kasm-user/Desktop/code.desktop]
row=2
col=1

[/home/kasm-user/Desktop/nextcloud.desktop]
row=3
col=0

[/home/kasm-user/Desktop/Downloads]
row=4
col=1

[/home/kasm-user/Desktop/gimp.desktop]
row=5
col=0

[/home/kasm-user/Desktop/sublime_text.desktop]
row=2
col=2

[/home/kasm-user/Desktop/onlyoffice-desktopeditors.desktop]
row=2
col=0

[/home/kasm-user/Desktop/firefox.desktop]
row=0
col=1

[/home/kasm-user/Desktop/signal-desktop.desktop]
row=0
col=0

[/home/kasm-user/Desktop/google-chrome.desktop]
row=4
col=0

[/home/kasm-user/Desktop/org.remmina.Remmina.desktop]
row=1
col=0

[/home/kasm-user/Desktop/com.obsproject.Studio.desktop]
row=1
col=1

[/home/kasm-user/Desktop/Zoom.desktop]
row=3
col=1

[/home/kasm-user/Desktop/Uploads]
row=5
col=1

